@import 'variable';
html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $text-color-alt;

    &:hover {
        text-decoration: underline;
        color: inherit;
    }
}

.card-title {
    color: $black;
}

.btn-rounded {
    padding: 13px 18px;
}

.big-shadow {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25) !important;
}
.big-rounded {
    border-radius: 1rem !important;
}

.text-black {
    color: $black !important;
}

.text-gray {
    color: $gray-600;
}

.card-link {
    color: $blue;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.media {
    .media-title {
        color: #E39806;
    }
    img {
        height: 64px;
    }
}

.featured-venues-box {
    .media {
        img {
            height: 80px;
        }
    }
}

.main-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    padding: 0;
    position: relative;
    color: $gray-800;
    min-height: 100%;
    height: 100%;
}

.btn-default {
    color: #0085cd;
    background-color: $white;

    &:hover {
        color: $white;
        background-color: #0085cd;
    }
}

section {
    &#wrapper {
        height: 100%;
    }
}

.top-menu {
    .nav {
        font-size: 14px;

        .nav-link.active, .nav-link:hover, .nav-link:hover {
            color: $text-color;
            font-weight: bold;
        }
    }
}

.bg-alt {
    background-color: $themecolor-alt !important;
}

.bg-main {
    background-color: $themecolor !important;
}

.layout-box {
    width: 400px;
    margin: 0 auto;
    min-height: 100%;
    background-color: $body-color;
}

.card-header {
    background-color: transparent;
    color: $text-color;

    .card-title {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        .icon-header {
            position: absolute;
            right: 0;
            line-height: 20px;

            &.left {
                left: 0;
                right: auto;
            }
        }
    }
}

.card-body {
    color: $text-color-alt;
}

.has-feedback-left {
    .form-control {
        padding-right: 12px;
        padding-left: 24px;
    }
    
    .form-control-feedback {
        line-height: 34px !important;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.slick-dots {
    text-align: left;

    li:first-child {
        margin-left: 0;
    }
    li {
        button:before {
            font-size: 10px;
        }

        &.slick-active {
            button:before {
                font-size: 12px;
            }
        }
    }
}

.slick-arrow {
    position: absolute;
    display: block;
    color: $gray-900;
    z-index: 3;

    &.slick-prev {
        left: 80%;
        top: 105%;

        &:before {
            content: "\F053";
        }
    }

    &.slick-next {
        right: 0;
        top: 105%;

        &:before {
            content: "\F054";
        }
    }

    &.slick-prev:before, &.slick-next:before {
        font-family: "Font Awesome 5 Free";
        line-height: 1;
        color: $gray-900;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slide-caption {
    bottom: 10px;
    width: 100%;
    z-index: 2;
    font-weight: bold;
    font-size: 12px;
    position: absolute;

    .rating {
        background-color: #FFED9F;
    }

    .distance {
        background-color: #E5E5E5;
    }
}
